
{% extends 'projects/base.html'%}

{% block content %}
<div class="container">
  <div class="home-imgs">
    {% if results %}
    <div class="cat-header container-fluid">
      <h1 class="text-center">Search results for {{ term }} </h1>
    </div>
    {% for item in results %}
    <div class="card main-card" style="width: 21rem;">
      <div class="card-img-sec">
        <img class="card-img-top img-fluid image" src="{{ item.image.url }}" alt="website">
        <div class="middle">
          <a href="{% url 'post-detail' item.id %}" class="text btn btn-sm btn-outline-info">View</a>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">
            <p>From: {{item.country}}</p>
            <p>{{ item.created_at}}</p>
        </h5>
        <hr>
        <div class="pub-info">
          <img src="{{ user.profile.prof_pic.url }}" alt="" class="rounded-circle" height="25" width="25">
          <p class="ml-2">By: {{item.publisher}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h4 class="text-center" style="margin-top: 20px;">There are no images related to {{term}}</h4>
    {% endif %}
  </div>
</div>
{% endblock %}
